<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>servletCandidat</display-name>
    <servlet-name>servletCandidat</servlet-name>
    <servlet-class>com.JAVA.DAO.servletCandidat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletCandidat</servlet-name>
    <url-pattern>/servletCandidat</url-pattern>
  </servlet-mapping>
  <display-name>ProjetS3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servletRecruteur</display-name>
    <servlet-name>servletRecruteur</servlet-name>
    <servlet-class>com.JAVA.DAO.servletRecruteur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletRecruteur</servlet-name>
    <url-pattern>/servletRecruteur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>offreServlet</display-name>
    <servlet-name>offreServlet</servlet-name>
    <servlet-class>com.JAVA.DAO.offreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>offreServlet</servlet-name>
    <url-pattern>/offreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>candidatureServlet</display-name>
    <servlet-name>candidatureServlet</servlet-name>
    <servlet-class>com.JAVA.DAO.candidatureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>candidatureServlet</servlet-name>
    <url-pattern>/candidatureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userServlet</display-name>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>com.JAVA.DAO.userServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletCandidature</display-name>
    <servlet-name>servletCandidature</servlet-name>
    <servlet-class>com.JAVA.DAO.servletCandidature</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletCandidature</servlet-name>
    <url-pattern>/servletCandidature</url-pattern>
  </servlet-mapping>
</web-app>